// COLORS
$color-primary: #4fe3bf;
$color-secondary:#5024f5;
$color-primary-dark: #4a4a4a;

$color-grey-light-1: #e7e7e9;
$color-grey-light-2: #f7f7f7;
$color-grey-light-3: #b2bec3;



$color-white: #ffffff;
$color-white-2: #fff;

$color-black: #000000;

