@import '../../styles/variables';

.navigation {
  display: flex;
  justify-content: center;
  .navigation-list {
    display: flex;
    &__item {
      margin: 3.75rem 7.75rem 2.75rem 7.75rem;
      list-style-type: none;
    }

    &__link {
      color: #b1b1b1;
      font-size: 1.75rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
