@import '../../styles/variables';

.navigation {
  display: flex;
  justify-content: center;
  .navigation-list {
    display: flex;

    &__item {
      margin: 3.75rem 3.75rem 2.75rem 6.75rem;
      list-style-type: none;
    }

    &__link {
      color: #b1b1b1;
      font-size: 1.75rem;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}

.sub-navigation {
  display: flex;
  justify-content: center;
  .sub-navigation-list {
    display: flex;
    background-color: pink;
    &__item {
      margin: 1.75rem 3.75rem 1.75rem 6.75rem;
      list-style-type: none;
    }

    &__link {
      color: #b1b1b1;
      font-size: 1.15rem;
      text-decoration: none;
      text-transform: lowercase;
    }
  }
}
