/* Hide the browser's default checkbox */
/* CONTAINER */
/* CUSTOM CHECKBOX */
/* BLUE BACKGROUND WHEN CHECKED*/
/* CHECKMARK INDICATOR, HIDDEN WHEN NOT CHECK */
/* SHOW CHECKMARK WHEN CHECKED*/
/* STYLE FOR CHECKMARK */
.checkbox-container {
  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
    &:checked {
      ~ {
        .checkmark {
          background-color: #4fe3bf;
          &:after {
            display: block;
          }
        }
      }
    }
  }
  &__label {
    display: inline-block;
    width: 17.5rem;
    height: 5rem;
    padding: 1.62rem 0rem 0rem 0rem;
    cursor: pointer;
  }
  display: block;
  position: relative;
  padding: 0rem 0rem 0rem 4.5rem;
  font-size: 1.3rem;
  user-select: none;
  &:hover {
    background-color: #ededed;
  }
  .checkmark {
    &:after {
      left: 3.5px;
      top: -0.75px;

      width: 4.5px;
      height: 8.5px;

      border: solid white;
      border-width: 0 2px 2px 0;
      transform: rotate(45deg);
    }
  }
}
.checkmark {
  position: absolute;
  box-sizing: content-box;
  top: 1.8rem;
  left: 1.6rem;
  height: 1.3rem;
  width: 1.3rem;
  background-color: white;
  border-radius: 2px;
  border: 1.25px black solid;
  &:after {
    content: '';
    position: absolute;
    display: none;
  }
}
